<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850263128531-s6mslrhrd4sa99hb0850ah5kdrdee214.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850263128531-s6mslrhrd4sa99hb0850ah5kdrdee214</string>
	<key>API_KEY</key>
	<string>AIzaSyC7MYO6wuPlropLb5mpQUt_ugCCGGFXgQo</string>
	<key>GCM_SENDER_ID</key>
	<string>850263128531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramimustafa.contactsApp</string>
	<key>PROJECT_ID</key>
	<string>educationswiftuikit</string>
	<key>STORAGE_BUCKET</key>
	<string>educationswiftuikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850263128531:ios:bf1bd31d244ad4af3e9726</string>
</dict>
</plist>